.login_ocial ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_ocial {
  margin-right: 36px;
}
.login_ocial ul li {
  list-style: none;
  margin-right: 16px;
}

.login_ocial ul li:last-child {
  margin-right: 0;
}

.login_ocial ul li a {
  line-height: 24px;
  font-weight: 600;
  font-size: 18px;
  color: #e74c3c;
}

/* ===================Respnsive================ */

@media only screen and (max-width: 768px) {
}
