.navBg {
  padding-top: 0;
  padding-bottom: 0;
  background: #3498db;
}

.arrow {
  margin-left: 3px;
}

.nav-link a {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  margin-right: 5px;
  text-decoration: none;
}

.navbar-light .navbar-toggler {
  color: #fff !important;
  border: 1px solid;
  border-color: #fff !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-toggler:focus {
  text-decoration: none;
}

.sing_area {
  width: 230px;
  background-color: #e74c3c;
  justify-content: center;
  height: 60px;
  display: flex;
  align-items: center;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
}

.signIn {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.navBrand {
  display: none !important;
  width: 200px;
}
.navBrand img {
  width: 100%;
}
/* =====================Responsive=========== */

@media only screen and (max-width: 768px) {
  .navbar-light .navbar-nav .nav-link {
    margin-left: 20px !important;
  }

  .sing_area {
    width: 100%;
  }

  .navbar > .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
  }
  .navBrand {
    display: inline !important;
  }
  .navbar > .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between !important;
  }
  .navBg {
    background-color: #fff;
    margin-bottom: 5px !important;
    border-bottom: 2px solid #3498db;
  }
  .nav-link a {
    color: #000;
  }
  .sing_area {
    margin-bottom: 10px;
  }
}
