.social_media ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
.social_media {
  margin-right: 36px;
}
.social_media ul li {
  list-style: none;
  margin-right: 8px;
}

.social_media ul li:last-child {
  margin-right: 0;
}

.social_media ul li a {
  line-height: 24px;
  font-weight: 600;
  font-size: 24px;
  color: #e74c3c;
}

/* ===================Respnsive================ */

@media only screen and (max-width: 768px) {
  .social_media {
    display: none;
  }
}
