.global_buisness {
  background: linear-gradient(268.33deg, #3498db 5.06%, #2980b9 94.73%);
  padding-top: 60px;
  padding-bottom: 60px;
}

.global_text h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 61px;
  color: #ffffff;
}
/* ================== */
.golobal_button {
  display: flex;
  justify-content: flex-end;
}

.global_buis_btn a {
  background: #fff;
  border: 2px solid #3498db;
  box-shadow: 0px 8px 10px rgb(0 0 0 / 20%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2c3e50;
  padding: 10px 35px;
  display: inline-block;
  margin-top: 30px;
  margin-right: 10px;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.2s all ease;
}

.global_buis_btn a:hover {
  background: #e74c3c;
  border: 2px solid #e74c3c;
  color: #fff;
}
.global_contuct_btn a {
  background: #e74c3c;
  box-shadow: 0px 8px 10px rgb(0 0 0 / 20%);
  border: 2px solid #e74c3c;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 10px 35px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 10px;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.2s all ease;
}
.global_contuct_btn a:hover {
  background: #fff;
  border: 2px solid #e74c3c;
  color: #e74c3c;
}

/* ====================Responsive================== */

@media only screen and (max-width: 768px) {
  .global_text h2 {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  .global_text {
    margin-bottom: 20px;
  }
  .global_buisness {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .golobal_button {
    display: flex;
    justify-content: center;
  }
}
